In [1]:
#Q1)Write a code to create a string with your name and print it.

In [2]:
name = "Neha Saini"
print(name)

Neha Saini

In [3]:
#Q2)Write a code to find the length of the string "Hello World".

In [4]:
str="Hello World"
len(str)

11

In [5]:
#Q3)Write a code to slice the first 3 characters from the string "Python Programming"

In [8]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [7]:
print(text[:3])

Pyt

In [9]:
#Q4) Write a code to convert the string "hello" to uppercase?

In [12]:
A = "hello"
print(A.upper())

HELLO

In [13]:
#Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple

In [14]:
A = "I like apple"
print(A.replace("apple","orange"))

I like orange

In [15]:
#Q.6) Write a code to create a list with numbers 1 to 5 and print it

In [16]:
lis = [1,2,3,4,5]
lis

[1, 2, 3, 4, 5]

In [18]:
#Q.7)Write a code to append the number 10 to the list [1, 2, 3, 4]

In [21]:
A = [1,2,3,4]
A.append(10)
A

[1, 2, 3, 4, 10]

In [22]:
#Q.8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [24]:
A = [1,2,3,4,5]
A.pop(3)
A

[1, 2, 3, 5]

In [25]:
#Q.9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [26]:

lis =["a","b","c","d"]
lis[1]

'b'

In [27]:
#Q.10)Write a code to reverse the list [10, 20, 30, 40, 50]

In [29]:
list = [10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [30]:
#Q.11) Write a code to create a tuple with the elements 100, 200, 300 and print it

In [31]:
tuple = (100, 200, 300)
tuple

(100, 200, 300)

In [32]:
#Q.12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [33]:
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [34]:
#Q.13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [37]:
 tuple = (10, 20, 5, 15)
 print(min(tuple))

5

In [38]:
#Q.14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [41]:
 tuple = ('dog', 'cat', 'rabbit')
 print(tuple.index("cat"))

1

In [42]:
#Q.15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [49]:
 tuple = ("banana","apple","orange")
 if "kiwi" is  tuple:
     print("kiwi is in tuple")
 else:
     print("kiwi is not in tuple")
 print (tuple)

kiwi is not in tuple
('banana', 'apple', 'orange')

In [50]:
#Q16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [51]:
set = {"a","b","c"}
set

{'a', 'b', 'c'}

In [52]:
#Q.17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [55]:
set = {1, 2, 3, 4, 5}
set

{1, 2, 3, 4, 5}

In [58]:
set.clear()
set

set()

In [59]:
#Q.18) Write a code to remove the element 4 from the  set {1, 2, 3, 4}.

In [61]:
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

In [62]:
#Q.19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [69]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [70]:
#Q.20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [71]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1.intersection(s2))

{2, 3}

In [72]:
#Q.21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [74]:
dic = {"name":"","age":"","city":""}
dic

{'name': '', 'age': '', 'city': ''}

In [75]:
#Q.22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [76]:
dic = {'name': 'John', 'age': 25}
dic

{'name': 'John', 'age': 25}

In [81]:
dic["country"]="USA"
dic

{'name': 'John', 'age': 25, 'country': 'USA'}

In [82]:
#Q23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [83]:
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [84]:
#Q 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [88]:
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic['age']

In [89]:
dic

{'name': 'Bob', 'city': 'New York'}

In [90]:
#Q.25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [92]:
dic = {'name': 'Alice', 'city': 'Paris'}
if "city" in dic:
     print("city is in dic")
else:
    print("city is not in dic")

city is in dic

In [93]:
#Q.26)Write a code to create a list, a tuple, and a dictionary, and print them all

In [94]:
lis = [1,1,12,3,4]
tuple = ("hdeh","jeh")
dic = {"city":"Alwar","state":"Rajasthan"}
print(lis)
print(tuple)
print(dic)

[1, 1, 12, 3, 4]
('hdeh', 'jeh')
{'city': 'Alwar', 'state': 'Rajasthan'}

In [95]:
#Q.27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [98]:
import random

nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print("Sorted random numbers:", nums)

Sorted random numbers: [5, 16, 48, 63, 79]

In [99]:
#Q.28)Write a code to create a list with strings and print the element at the third index

In [100]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at third index:", fruits[3])

Element at third index: date

In [101]:
#Q.29)  Write a code to combine two dictionaries into one and print the result

In [102]:

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [103]:
#Q30)Write a code to convert a list of strings into a set.

In [116]:
string_list = ['apple', 'banana', 'cherry']
string_set = set(string_list)  
print(string_set)

TypeError: 'set' object is not callable